.keyboard {
  margin: 0 auto;
  width: 860px;
  &__row {
    display: flex;
    justify-content: center;
  }
}
.key {
  height: 50px;
  margin: 2px;
  width: 50px;
  &-backspase {
    width: 115px;
  }
  &-tab {
    width: 55px;
  }
  &-del {
    width: 55px;
  }
  &-caps {
    width: 110px;
  }
  &-enter {
    width: 110px;
  }
  &-shift {
    width: 110px;
  }
  &-spase {
    width: 375px;
  }
  &-ctrl {
    width: 55px;
  }
  &:focus-visible {
    outline: none;
  }
}
.active {
  background-color: #00ff00; /* зеленый фон при активном состоянии */
  color: #ffffff; /* белый текст при активном состоянии */
  font-weight: bold; /* жирный шрифт при активном состоянии */
}
.animate {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
